.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #563d7c;
  color: #fff;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
 }

 .nav_links .menu_anchor {
  color: #fff;
 }

 /* LOGO */
 .logo .logo_anchor{
  font-size: 28px;
  color: white;
 }

 /* NAVBAR MENU */
 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
 }

 .menu .menu_list:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
 }

 .menu .menu_list {
  padding: 5px 14px;
 }

 .btn{
  color: white;
  background-color: #17a2b8;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  font: inherit;
 }

 .btn:hover {
  background-color: #4c9e9e;
  transition: 0.3s ease;
 }

 .custom_span{
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  color: #D61C4E;
  margin-right: 20px!important;
 }

//  RESPONSIVE

.input[type=checkbox]{
  display: none;
 }
 /*HAMBURGER MENU*/
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }

@media (max-width: 768px) {
  .menu {
   display:none;
   position: absolute;
   background-color:teal;
   right: 0;
   left: 0;
   text-align: center;
   padding: 16px 0;
  }
  .menu .menu_list:hover {
   display: inline-block;
   background-color:#4c9e9e;
   transition: 0.3s ease;
  }
  .menu .menu_list + .menu_list {
   margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu{
   display: block;
  }
  .hamburger {
   display: block;
  }
  }
//  RESPONSIVE
